.calendar {
    box-sizing: border-box;
    font-size: 1.5rem;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 50px;
    /* border-radius: 8px; */
    /* border: 0px solid #22282c; */
    /* background: #333d42;
    box-shadow: 1px 1px 5px #161b1d, -1px -1px 5px #505f67; */
}

.calendar button {
    font-size: 1.5rem;
}

button:focus {
    outline: 0;
}

.calendar .header {
    border-radius: 10px 10px 0 0;
    text-align: center;
    min-height: 5rem;
    line-height: 5rem;
    color: var(--white);
    font-family: var(--font-book);
    font-weight: 900;
    display: flex;
}

.calendar .day-names {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
}

/* .calendar .body {
    border: 2px solid var(--light-blue);
} */

.calendar .header .previous {
    flex: 1;
    text-align: left;
    margin-left: 1rem;
}

.calendar .header .next {
    flex: 1;
    text-align: right;
    margin-right: 1rem;
}

.calendar .week {
    /* background-color: white; */
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    width: calc(100% / 7);
    height: 44px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 400;
}

.calendar .week div {
    width: 100%;
}

.calendar .day {
    position: relative;
    width: calc(100% / 7);
    height: 64px;
    display: inline-block;
    /* background-color: white; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
}

.calendar .day div {
    width: 72px;
    height: 64px;
    position: relative;
    color: var(--white);
    z-index: 100;
    line-height: 64px;
}

.calendar .day div.before {
    color: var(--grey);
}

.calendar .day div.selected {
    background-color: #333;
    color: var(--white);
    font-weight: bold;
}

.calendar .day div.today {
    background-color: var(--grey);
}

.calendar button {
    border: none;
    background-color: transparent;
    color: var(--white);
}

.calendar button:active {
    border: none;
}

/* .selected-day {
    border: 2px solid var(--light-blue);
}

.selected-day-header {
    background-color: var(--light-blue);
    size: 100%;
    padding: 5px;
    text-align: center;
} */